<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello Nasri</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    style="background-color: #eaf0f3; display: flex; justify-content: center; width: 80vw;"
  >
    <main>
      <body>
        <div
          class="center"
          style="display: flex; align-items: center; justify-content: center"
        >
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center">
                <img width="100px" src="cid:logo" alt="logo" />
              </td>
            </tr>
          </table>
        </div>
        <p style="text-align: center; font-weight: 600; font-size: 24px">
          Activation Code
        </p>
        <div
          class="main-content"
          style="
            margin-top: 50px;
            background-color: white;
            padding: 20px 20px 100px 20px;
            width: 80vw;
            display: flex;
            display: -webkit-flex;
            display: -ms-flexbox;
            flex-direction: column;
            flex-direction: -webkit-column;
            justify-content: center;
            align-items: center;
          "
        >
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td align="center">
                <img
                  width="180px"
                  src="cid:activation-code"
                  alt="Activation Code"
                />
              </td>
            </tr>
            <tr>
              <td align="center">
                <div
                  class="otp"
                  style="
                    border: 1px dashed #3490ec;
                    padding: 5px 20px 5px 30px;
                    border-radius: 10px;
                    color: #3490ec;
                    margin: 20px;
                    width: 200px;
                    letter-spacing: 10px;
                  "
                >
                  {{ otp }}
                </div>
              </td>
            </tr>
            <tr>
              <td align="center">
                <div
                  class="content"
                  style="text-align: center; color: #5e5e5e; font-weight: 400"
                >
                  <p>
                    Hi {{ name }}, You are ready to setup your new Alien Auth
                    account.
                  </p>
                  <p>
                    Copy your activation code or click the button below to
                    activate your account.
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td align="center">
                <div class="btn-activate">
                  <button
                    style="
                      margin-top: 30px;
                      padding: 10px 45px;
                      border-radius: 20px;
                      height: 40px;
                      border: 0px solid black;
                      background-color: #3490ec;
                      color: white;
                      font-weight: 500;
                      cursor: pointer;
                    "
                  >
                    Activate your account
                  </button>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <div class="foot" style="text-align: center; margin-top: 50px">
          <p style="font-weight: 300">Copyright © 2022</p>
          <p>
            Made with ❤️ By
            <a
              href="https://aliendev.cloud"
              style="text-decoration: none; color: #3490ec"
              >Nasri</a
            >
          </p>
        </div>
      </body>

      <style>
        html {
          font-family: "Barlow", sans-serif;
          font-weight: 500;
          font-style: normal;
        }
      </style>
    </main>
  </body>
</html>
